(block pomerium_podman
    (blockinherit container)
    (allow process tor_port_t ( tcp_socket ( name_connect )))
    (allow process http_port_t ( tcp_socket ( name_bind name_connect )))
    (allow process unreserved_port_t ( tcp_socket ( name_bind name_connect )))
    (allow process transproxy_port_t ( tcp_socket ( name_connect )))
    (allow process soundd_port_t ( tcp_socket ( name_connect )))
    (allow process http_cache_port_t ( tcp_socket ( name_connect )))
    (allow process kernel_t ( system ( module_request )))
    (allow process node_t ( tcp_socket ( node_bind )))
    (allow process self ( tcp_socket ( listen )))
    (allow process container_file_t ( file ( create read write )))
    (allow process container_file_t ( dir ( add_name write )))
    (allow process ephemeral_port_t ( tcp_socket ( name_connect )))
)
